h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: white;
}
h2 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #0e1215; 
}
p {
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  color: darkgrey;
}
body {
  position:  relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(SunCatcher.jpg);
  text-align: center;
  color: #F7F9FA;
  font-family: Verdana;
}
header {
  position:  relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #F7F9FA;
  font-family: Verdana;
}
.container {
  width:100%;
  background-color: black;
}
li {
  color: black;
}
article {
  text-align: center;
  font-size: 14px;
}

.fourthBlock {
  align-items: center;
 /*width: 60%;*/
 /* margin-left: 20%;*/
  margin-bottom: 2%;
  padding-left: 10px;
  padding-right: 10px;
  color: #F7F9FA;
}
.navwrapper {
  color: black;
}
.footer {
  text-align: center;
}                                                                                                                                    
.black-text{
  margin: 0 auto; 
  text-align: center;
  font-size: 14px;
}
.centerBottomLinks{
  margin:0 auto;
  text-align: center;
}
.spacer {
  margin-top: 1%;
}
a {
  color: #F7F9FA;
}
.footerClass {
  margin-top: 100px;
}
.angels {
  margin: 0% 15% 0%;
  font-weight: 600;
  color: #0e1215;
}
.secondTitle {
  color: #F7F9FA;
  margin-top: 15%;

}
.forgotten {
  color: white;
  margin-top: 1% 10% 20%;
  font-weight: 600;
}
.anchorTag {
  float right;
  color: white;
  margin-left: 20%;
}
#vocation {
  font-weight: 600;
  color: #0e1215;
}
.contactUs {
  text-align: center;
}
.email {
  font-size: 14px;
  font-weight: 500;
  float left;
  margin-bottom: 0px;
  margin-right: 20%;
  margin-left: 20%;
  color: white;
}
