body {
  padding-top: 70px;
  position:  relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(images/AOHcrowdOfHomeless.jpg);
}

.navbar-inverse {
  background-color: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
  color: white;
}

.jumbotron {
  background-color: #ecf0f1;
  color: #2c3e50;
}

.fa-camera-retro {
  margin-right: 10px;
}

header {
  text-align: center;
}
.footerClass {
  text-align: center;
}
.galleryTitle {
  text-align: center;
}
.gallerySubTitle {
  text-align: center;
  padding-top: 5%;
}
h1 {
  font-weight: 600;
}
.angels  {
  font-weight: 600;
}
.forgotten {
  font-weight: 600;
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
  text-justify: inter-word;
}
.email {
  font-weight: 600;
}
.anchorTag {
  font-weight: 600;
}
