._20nn{left:-1px;top:0}._1g8y{left:0;top:0}._20no{left:-3px;top:0}
.sp_Cd33Kuf_kxE_1_5x{background-image:url(/rsrc.php/v3/yA/r/ZkFPYZiJ3S3.png);background-size:18px 36px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_Cd33Kuf_kxE_1_5x.sx_ddc89c{background-position:0 0}.sp_Cd33Kuf_kxE_1_5x.sx_70639a{background-position:0 -18px}

#bootloader_o1FSe{height:42px;}.bootloader_o1FSe{display:block!important;}