*:not(i){
    /* Overwrite default bootstrap font */
    font-family: 'Open Sans', sans-serif !important;
}

.spanish-button {
    margin-top: 10px;
}

#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}

.a-button {
    align-items: none;
    text-align: right !important;
}

.a-button {
    border-radius: 0 5px 5px 0 !important;
    text-align: right !important;
}

.a-input {
    border-radius: 5px 0 0 5px !important;
}

.pl-no {
    padding-left: 0 !important;
}

.pr-no {
    padding-right: 0 !important;
}

.header-logo {
    left: 0;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    top: 40px;
    
}

.search-text {
    display: none;
}

.navbar-default {
    background-color: transparent;
    margin-bottom: -100px;
}

.site-section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.call-to-action {
    padding-top: 280px;
    padding-bottom: 160px;
    color: white;
    /* Tinted Image */
    background: linear-gradient(rgba(0, 105, 137, 0.37), rgba(0, 105, 137, 0.37)), url(../../images/elsalv-gifts.jpg) no-repeat center;
    background-size: cover;
}

.call-to-action h1 {
    text-align: center;
    font-size: 60px;
}

.call-to-action h2 {
    line-height: 1.5;
    font-size: 30px;
    width: 844px;
    max-width: 100%;
    display: block;
    margin: auto;
    text-align: center;
}

/* mailchimp form */
.email-input {
    text-align: center;
    width: auto !important;
}

/*image gallery*/

.gallery-section {
	height: 100%;
	width: 100%;
    margin: 3em auto;
    display: initial;
}

#galleria {
	margin: 3em auto;
}

.fa-facebook-official {
    color: #3b5998;
}

.footer {
    padding: 15px 0 15px 0 ;
    background-color: #0d6a87;
}

.footer-logo {
    text-align: left;
}

.logo {
    max-height: 100px;
}

.footer-info {
    text-align: center;
}

.footer-copyright {
    text-align: right;
}

.footer a, .copyright {
    color: #EAEBED;
}

.infolink:not(:first-child) {
    display: block;
    margin-top: 8px;
}

.footer a:hover, .footer a:focus, .footer a:active {
    color: #FFFFFF;
    text-decoration: none;
}

.footer i.fa {
    background-color: #EAEBED;
    border-radius: 15px;
    color: #0d6a87;
    margin-left: 8px;
    padding: 6px 7px;
}

.copyright {
    margin-top: 8px;
}
.sub-section {
    margin-top: 80px;
}

/***** get-involved section *****/
.get-involved-hr {
	border: none;
	color: teal;
	background-color: teal;
	width: 190px;
	height: 4px;
}

.email-input {
	width: 35%;
	display: block;
	margin: auto;
}

.get-involved-text {
	margin-top: 25px;
	margin-bottom: 40px;
}

.get-inolved-cta {
	margin-top: 25px;
	margin-bottom: 25px;
}

@media (max-width: 992px) {
    .footer-logo, .footer-info, .footer-copyright {
        text-align: center !important;
    }

    .footer-logo img {
        margin-left: auto;
        margin-right: auto;
    }

    .footer-info {
        margin-top: 15px;
    }

    .footer-copyright {
        margin-top: 20px;
    }
}

@media (max-width: 760px) {
	.gallery-section {
		display: none;
	}
}