body {

}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-default {
    background-color: transparent;
    margin-bottom: -60px;
}

.navbar-brand {
    padding: 5px;
}

.navbar-brand > img {
    max-height: 100%;
}

.site-section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.call-to-action {
    padding-top: 240px;
    padding-bottom: 200px;
    color: white;
    /* Tinted Image */
    background: linear-gradient(rgba(0, 105, 137, 0.37), rgba(0, 105, 137, 0.37)), url(../../images/elsalv-gifts.jpg) no-repeat center;
    background-size: cover;
}

.call-to-action h2 {
    line-height: 1.5;
    font-size: 30px;
    width: 844px;
    max-width: 100%;
    display: block;
    margin: auto;
    text-align: center;
}
