* {
    /* Overwrite default bootstrap font */
    font-family: 'Open Sans', sans-serif !important;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-default {
    background-color: transparent;
    margin-bottom: -60px;
}

.navbar-brand {
    padding: 5px;
}

.navbar-brand > img {
    max-height: 100%;
}

.site-section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.call-to-action {
<<<<<<< HEAD
    padding-top: 240px;
    padding-bottom: 200px;
    color: white;
    /* Tinted Image */
    background: linear-gradient(rgba(0, 105, 137, 0.37), rgba(0, 105, 137, 0.37)), url(../../images/elsalv-gifts.jpg) no-repeat center;
    background-size: cover;
}

.call-to-action h2 {
    line-height: 1.5;
    font-size: 30px;
    width: 844px;
    max-width: 100%;
    display: block;
    margin: auto;
    text-align: center;
}
=======
    background-color: teal;
}

.footer {
    padding: 15px 0 15px 0 ;
    background-color: #0d6a87;
}

.footer a, .copyright {
    color: #EAEBED;
}

.infolink {
    display: block;
    margin-top: 8px;
}

.footer a:hover, .footer a:focus, .footer a:active {
    color: #FFFFFF;
    text-decoration: none;
}

.footer i.fa {
    background-color: #EAEBED;
    border-radius: 15px;
    color: #0d6a87;
    margin-left: 8px;
    padding: 6px 7px;
}

.copyright {
    margin-top: 8px;
}
>>>>>>> footer
